ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fl {
  float: left;
}

li a {

  color: white;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}
