/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
  background-color: #1d2528;
  color: lightgrey;
}


a{
  color: gold;
}
ul{
  list-style-type: none;
  background-color: #1d2528;
  margin: 0;
  padding: 0;
  border: 0;
}
ul li{

  font-size: small;
}

.header{
  grid-row: head;
}
.nav{
  grid-row: nav;
}
.main{
  grid-row: main;
}
.footer{
  grid-row: foot;
}
.grid-container{
  display: grid;
  grid-template-rows: [head] 60px [nav] auto [main] 85% [foot] 40px;
}

.grid-content{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gird-template-rows: 40px auto;
}

.headerdata{
  grid-column: 1/3;
  grid-row: 1;
}
.regions{
  grid-column-start: 1;
  grid-row-start: 2;
}
.gridc_itemsByGroup{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  gird-template-rows: 80px auto;
}

.itemsByCategory {
  grid-column: 1/1;

}
.itemsByGroup {
  grid-column: 2;

}

.itemsByPrice{
  grid-column: 3/span 3;
}

.navigation  li{ float: left; margin: 0px 2px 0px 4px}
/* Large */
.navigation {

  grid-row: nav;
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-start;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 400px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
